h5{
    text-align: center;
    font-size: 40px;
}

.jumbotron{
    background-color:#F2A491;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }


.image-1{
    padding-bottom: 10px;
}