.Home{ 
    width: 18vw;
    padding: 18px;
    background-color: #F2A491;
    align-content: center;
    text-align: center;
}
.Fashion{
    width: 18vw;
    padding: 18px;
    background-color: #F8C8D7;
    text-align: center;
}
.Beauty{
    width: 18vw;
    padding: 18px;
    background-color: #F2A491;
    text-align: center;
}
.Lifestyle{
    width: 18vw;
    padding: 18px;
    background-color:#f8c8d7;
    text-align: center;
}
.News{
    width: 18vw;
    padding: 18px;
    background-color:#F2A491;
    text-align: center;
} 

.jumbotron{
    background-color:#F2A491;
}

.image-1{
    padding-bottom: 10px;
}
